<div class="userBody">
  <div class="startTitle">
    <h1>Lista de Perfumes</h1>
  </div>

  <div style="display: flex; flex-direction: column; margin:10px; align-items:flex-end; ">
    <div ><a href="" id="cartCounter">0</a></div> 
    {{!-- corregir para poner el cartid que corresponda --}}
    <button onclick="vaciarCarrito()">Vaciar Carrito</button>
  </div>

  <div class="container">
    {{#each parfums}}
    <div class="box" id="product-{{this._id}}">
      <h2>{{this.title}}</h2>
      <p>{{this.category}}</p>
      <p>{{this.description}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>${{this.price}}</p>
      <p>{{this._id}}</p>
      <button type="button" style="width: 10rem; height: 2rem; margin:1rem" onclick="addToCart('{{this._id}}')">Agregar
        al carrito</button>

    </div>
    {{/each}}
  </div>

  <div class="pagination-container">
    {{#if pagination.hasPrevPage}}
    <a href="/home/?page={{pagination.prevPage}}&limit={{pagination.limit}}&sort={{pagination.sort}}">Anterior</a>
    {{/if}}

    {{#if pagination.hasAnyPage}}
    <span>Página {{pagination.page}} de {{pagination.totalPages}}</span>
    {{/if}}

    {{#if pagination.hasNextPage}}
    <a href="/home/?page={{pagination.nextPage}}&limit={{pagination.limit}}&sort={{pagination.sort}}">Siguiente</a>
    {{/if}}
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on('nuevoProductoCargado', (product) => {
    const container = document.getElementById('productContainer');
    if (!container) return;

    const div = document.createElement('div');
    div.className = 'box';
    div.id = `product-${product._id}`;
    div.innerHTML = `
      <h2>${product.title}</h2>
      <p>${product.category}</p>
      <p>${product.description}</p>
      <p>Stock: ${product.stock}</p>
      <p>$${product.price}</p>
      <p>${product._id}</p>
    `;
    container.appendChild(div);
  });

  socket.on('productoEliminado', (productId) => {
    const productDiv = document.getElementById(`product-${productId}`);
    if (productDiv) productDiv.remove();
  });

  socket.on('productoActualizado', (product) => {
    const productDiv = document.getElementById(`product-${product._id}`);
    if (productDiv) {
      productDiv.innerHTML = `
          <h2>${product.title}</h2>
          <p>${product.category}</p>
          <p>${product.description}</p>
          <p>Stock: ${product.stock}</p>
          <p>$${product.price}</p>
          <p>${product._id}</p>
          
        `;
    }
  });

  socket.on('connect', async () => {
    const cartId = localStorage.getItem('cartId');
    socket.emit('solicitarCarrito', cartId);
    let total = await cartCounter(cartId)
    document.getElementById("cartCounter").textContent = total
    document.getElementById("cartCounter").href = `carts/${cartId}`
  });

  socket.on("carritoAsignado", (data) => {
    localStorage.setItem("cartId", data.cartId);
  });

  const cartCounter = async (cartId) =>{
    const cartProducts = await fetch(`/api/carts/${cartId}/`, {
      method: "GET"
    });

    const cartProductsParsed = await cartProducts.json()

    const lista = cartProductsParsed.payload.list
    let total = 0
    lista.forEach(item => total += 1) 

    return total
  }


  const addToCart = async (product) => {
    const cartId = localStorage.getItem("cartId");
    
    //AGREGAMOS EL NUEVO PRODUCTO
    const res = await fetch(`/api/carts/${cartId}/product/${product}`, {
      method: "POST"
    });

    //CONSULTAMOS CUANTOS PRODUCTOS HAY PARA ACTUALIZAR EL CONTADOR

    let total = await cartCounter(cartId)

    document.getElementById("cartCounter").textContent = total


    if (res.ok) {
      console.log("Producto agregado al carrito");
      Swal.fire({
        icon: 'success',
        title: '¡Listo!',
        text: 'Producto agregado al carrito',
        timer: 1500,
        showConfirmButton: false
      });
    } else {
      console.error("Error al agregar producto");
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'No se pudo agregar el producto',
      });
    }
  }

  const vaciarCarrito = async () => {
    const cartId = localStorage.getItem("cartId");    
    
    const res = await fetch(`/api/carts/${cartId}`, {
      method: "DELETE"
    });
    if (res.ok){
      console.log("Carrito vaciado correctamente")
      Swal.fire({
        icon: 'success',
        title: '¡Listo!',
        text: 'Carrito vaciado correctamente',
        timer: 1500,
        showConfirmButton: false
      });

      let total = await cartCounter(cartId)

      document.getElementById("cartCounter").textContent = total
    }else {
      console.error("Error al vaciar carrito");
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'No se pudo vaciar el carrito',
      });
    }
    
  }



</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>